<meta charset="UTF-8">

<div th:fragment="footer" id="footer">
    <div class="text-center">
        <small class="text-muted">Java Spring &trade; Proyect - Adrián Carrasco Pérez (2019) &copy; </small>
	</div>
</div>

<div th:fragment="footer-admin" id="footer-admin">
	<div class="text-center">
        <small class="text-muted">Java Spring &trade; Proyect - Adrián Carrasco Pérez (2019) &copy; </br>
        	Managed by Adrián (Admin) - Admin footer template
        </small>
	</div>
</div>

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
  <body>
    <div th:fragment="footer">
      &copy; 2016 Footer
    </div>
    <div th:fragment="footer-admin">
      &copy; 2016 Admin Footer
    </div>
  </body>
</html> -->