<meta charset="UTF-8">

<div class="container-fluid" th:fragment="div-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light base-navbar">
		<a style="margin-right: 3%;" class="navbar-brand" href="#">Game S.L.</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-item nav-link active" th:href="@{'/home/'}">Home <span class="sr-only">(current)</span></a> 
				</li>
	
				<li class="nav-item">
                    <!-- <a class="nav-link" th:href="@{'/juegos/'}">Juegos</a> -->
                    <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Juegos</span>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/juegos/index/compras}">Juegos en venta</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/juegos/index/alquileres}">Juegos en alquiler</a>
                    </div>
                </div>
				</li>
	
				<li class="nav-item">
					<a class="nav-link" th:href="@{'/competiciones/'}">Torneos</a>
				</li>
				
				<!-- <li sec:authorize="isAuthenticated()" class="nav-item">
					<a class="nav-link" th:href="@{'/participaciones/'}">Participaciones</a>
				</li> -->
				
				<!-- <li class="nav-item">
					<a class="nav-link" th:href="@{'/juegos/'}">Juegos</a>
				</li> -->
			</ul>
			
			<div class="nav-item dropdown" sec:authorize="!isAuthenticated()">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Hello, guest!</span>
				</a>
				<div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/login}">Log in</a>
				<div class="dropdown-divider"></div>
					<a class="dropdown-item" th:href="@{/users/register}">Sign up</a>
				</div>
			</div>
			
			<div class="nav-item dropdown" sec:authorize="isAuthenticated()">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Hello, <span sec:authentication="principal.username"></span>!</span>
				</a>
				<div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/users/profile}">Perfil</a>
				<div class="dropdown-divider"></div>
					<form th:action="@{/logout}" method="POST">
						<button class="btn btn-light btn-block" type="submit">
							<i class="fas fa-sign-out-alt"></i> Logout
						</button>
					</form>
				</div>
			</div>
		</div>

	</nav>
</div>

<div class="container-fluid" th:fragment="div-navbar-admin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light base-navbar">
		<a class="navbar-brand" href="#">Control panel</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" th:href="@{'/home/'}">Home <span class="sr-only">(current)</span></a> 
				<a class="nav-item nav-link" th:href="@{'/users/'}">Usuarios</a>
                <a class="nav-item nav-link" th:href="@{'/noticias/'}">Noticias</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Categorías y plataformas</span>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/categorias/'}">Categorías</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/plataformas/'}">Plataformas</a>
                    </div>
                </div>
                
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Gestionar torneos</span>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/competiciones/'}">Torneos</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/participaciones/'}">Participaciones</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Gestionar juegos</span>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/juegos/'}">Juegos</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/ventas/'}">Ventas</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/alquileres/'}">Alquileres</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/alquileres/index/pendientes'}">Alquileres pendientes</a>
                    </div>
                </div>
			</div>
		</div>
		<div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Hello, <span sec:authentication="principal.username"></span>!</span>
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-light btn-block" type="submit">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </form>
            </div>
        </div>
	</nav>
</div>