.flex-container-login{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: 86vh !important;
    /* align-content: center;
    align-items: center; */
}

.flex-container-editNoticia{
   /*  display: flex;
    flex-direction: column;
    justify-content: center; */
    min-height: 86vh;
}
.flex-container-newsIndex{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    max-height: 66vh !important;
    min-height: 50vh !important;
} 

.flex-container-noticiaAdd{
	/* display: flex;
    flex-direction: column;
    justify-content: center; */
    min-height: 86vh;
}
.flex-container-noticiasDetails{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86vh;
}

.flex-container-register{
    min-height: 78.5vh;
}
.flex-container-unableToRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86vh;
}

.flex-container-categoriesIndex{
	display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 66vh !important;
    min-height: 50vh !important;
}

.flex-container-addCategory{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 76.3vh;
}

.flex-container-addPlataforma{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86vh;
}
.flex-container-competicionesIndex{
	display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 66vh;
    min-height: 50vh;
}

.flex-container-competicionesAdd-noGames{
	display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-height: 66vh; */
    min-height: 66.1vh;
    margin-bottom: 9.4%;
}

/* .flex-container-competicionesEdit{
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
} */

.flex-container-addParticipacion{
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 71.2vh;
}
