<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: headerfiles">
<meta charset="UTF-8">
<title id="pageTitle">Add Category Page</title>
</head>
<body>
	<div th:replace="fragments/navbar :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'div-navbar-admin' : 'div-navbar'"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-5">
				<div class="text-center">
					<h2>Añadir categoría</h2>
				</div>
			</div>
		</div>
		
		<div class="row flex-container-addCategory">
			<div class="col-md-8 offset-md-2 mt-5">
				<div class="text-center">
					<form th:action="@{/categorias/insert}" th:object="${categoriaModel}" method="POST">
						<!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"> -->
						
						<div class="form-group row mb-5">
							<label class="col-md-2 col-form-label" for="nombre">Nombre</label>
							<div class="col-md-10">
								<input class="form-control" type="text" th:field="*{nombre}"/>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
								<div class="text-center alert alert-danger" th:if="${exists == 1}">La categoría introducida ya existe</div>
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-primary mt-3 mb-5">Añadir</button>
								<a class="float-left mt-4" th:href="@{'/categorias/'}"><i class="fas fa-chevron-left"> </i> Atrás</a>
							</div>
						</div>
						
					</form>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="alert alert-danger text-center" th:if="${insert == 0}">No se pudo añadir la categoría</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'"></div>
</body>
</html>