<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: headerfiles">
<meta charset="UTF-8">
<title id="pageTitle">Edit Tournament Page</title>
</head>
<body>
	<div th:replace="fragments/navbar :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'div-navbar-admin' : 'div-navbar'"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-4">
				<div class="text-center">
					<h2>Editar competición</h2>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="mt-5 alert alert-danger alert-dismissible fade show text-center" th:if="${edited == 0}">No se pudo editar la competición
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<div class="mt-5 alert alert-danger alert-dismissible fade show text-center" th:if="${exists == 1}">Una competición igual ya está registrada
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
			</div>
		</div>
		
		<!-- <div class="row flex-container-competicionesEdit"> -->
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-5">
				<div class="text-center">
					<form th:action="@{/competiciones/update}" th:object="${competicionModel}" method="POST">
						<!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"> -->
						<input type="hidden" th:field="*{id}">
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="nombre">Nombre</label>
							<div class="col-md-10">
								<input class="form-control" type="text" th:field="*{nombre}"/>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="descripcion">Descripción</label>
							<div class="col-md-10">
								<textarea rows="4" cols="64" th:field="*{descripcion}" placeholder="Enter description here..."></textarea>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="fecha">Fecha</label>
							<div class="col-md-10">
								<input class="form-control" type="date" th:field="*{fecha}"/>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="lugar">Lugar</label>
							<div class="col-md-10">
								<input class="form-control" type="text" th:field="*{lugar}"/>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="lugar">Juego</label>
							<div class="col-md-10">
								<select class="form-control" th:field="*{juego.id}">
                                    <option th:value="${competicionModel.juego.getId()}"
                                        th:text="${competicionModel.juego.getTitulo()}">
                                    </option>
									<!-- <option th:each="juego : ${juegosModels}" 
										th:value="${juego.id}"
										th:text="${juego.titulo}">
									</option> -->
								</select>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-primary mt-3 mb-5">Editar</button>
								<a class="float-left mt-4" th:href="@{'/competiciones/'}"><i class="fas fa-chevron-left"> </i> Atrás</a>
							</div>
						</div>
						
					</form>
					
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'"></div>
</body>
</html>