<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base.html :: headerfiles">
<title id="pageTitle">Home Page</title>
<!-- <link rel="stylesheet" type="text/css" href="css/base.css" th:href="@{css/base.css}" media="screen"> -->
</head>
<body>
	<div th:replace="base.html :: div-navbar"></div>
	
	<!-- <div th:text="${username}"></div> -->
	
	<span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span>!</span>
	</br>
	
	<div sec:authorize="hasRole('ROLE_USER')">
		<h2 class="text-muted">TESTEO HOME</h2>
	</div>
	<span sec:authorize="hasRole('ROLE_ADMIN')">
    	This text is only visible to an admin
	</span>
</body>
</html>