<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: headerfiles">
<meta charset="UTF-8">
<title id="pageTitle">Login Page</title>
</head>

<body>
	<div th:insert="fragments/navbar.html :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'div-navbar-admin' : 'div-navbar'"></div>
	<div class="container flex-container-login" sec:authorize="!isAuthenticated()">
		<div class="row">
			<div class="col-md-8 offset-md-2 centerDiv">
				<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show alert">Invalid username or password
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<div th:if="${logout != null}" class="alert alert-primary alert-dismissible fade show alert">Session closed
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<div th:if="${userAdded == 1}" class="alert alert-primary alert-dismissible fade show alert">Account succesfully created!
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>

				<form class="form-signin" th:action="@{/signin}" method="POST">

					<div class="form-group">
						<label for="username">Username</label> 
						<input autofocus="autofocus" type="text" name="username" id="username" class="form-control" aria-describedby="usernameHelp" placeholder="Enter username">
						<!-- <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					</div>

					<div class="form-group">
						<label for="password">Password</label> 
						<input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
					</div>

					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1"
							aria-describedby="rememberToken"> <label
							class="form-check-label" for="exampleCheck1"><small
							class="form-text text-muted">Remember me</small></label>
						<!-- <small id="rememberToken" class="form-text text-muted">Remember me</small> -->
					</div>

					<div class="form-group text-center mt-3">
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
				</form>

			</div>
			
			<div class="col-md-12 text-center mt-2">
				Not a member yet? </br> <a th:href="@{/users/register}">Sign up for free!</a>
			</div>
			
		</div>
	</div>
	
	<div class="container flex-container-login" sec:authorize="isAuthenticated()">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="text-center">
					<h2>Whoops!</h2>
					</br>
					<h5>It seems like you are already logged in</h5>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer.html :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'"></div>
	
</body>

</html>