<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: headerfiles">
<meta charset="UTF-8">
<title id="pageTitle">Add Noticia Page</title>
</head>
<body>
	<div th:replace="fragments/navbar :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'div-navbar-admin' : 'div-navbar'"></div>
	
	<div class="container flex-container-noticiaAdd">
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-3">
				<div class="text-center">
					<h2>Añadir noticia</h2>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-5">
				<div class="text-center">
					<form th:action="@{/noticias/insert}" th:object="${noticiaModel}" method="POST" id="addNoticiaForm">
						<!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"> -->
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="titulo">Título</label>
							<div class="col-md-10">
								<input class="form-control" type="text" id="titulo" th:field="*{titulo}"/>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="descripcion">Descripción</label>
							<div class="col-md-10">
								<input class="form-control" type="text" id="descripcion" th:field="*{descripcion}"/>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="contenido">Contenido</label>
							<div class="col-md-10">
								<textarea rows="4" cols="64" id="contenido" th:field="*{contenido}" form="addNoticiaForm">Enter content here...</textarea>
								<p class="text-center alert alert-danger" th:if="${#fields.hasErrors('contenido')}" th:errors="*{contenido}"></p>
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-primary mt-3 mb-5">Añadir</button>
								<a class="float-left mt-4" th:href="@{'/noticias/'}"><i class="fas fa-chevron-left"> </i> Atrás</a>
							</div>
						</div>
						
					</form>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="alert alert-danger text-center" th:if="${insert == 0}">No se pudo añadir la noticia</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'"></div>
</body>
</html>