<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: headerfiles">
<meta charset="UTF-8">
<title id="pageTitle">Users Page</title>
</head>
<body>
	<div th:insert="fragments/navbar.html :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'div-navbar-admin' : 'div-navbar'"></div>
	
	<div style="min-height: 86vh;" class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-5 mb-3 text-center">
				<h2>Listado de usuarios</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div th:if="${!usersModels.isEmpty()}" class="mt-3">
					<table class="table table-dark">
						<thead>
							<tr scope="row">
								<th scope="col">Nombre</th>
								<th scope="col">Username</th>
								<th scope="col">Habilitado</th>
								<th scope="col"></th>
								<th scope="col"></th>
								<th scope="col"></th>			
							</tr>
						</thead>
						<tbody>
							<tr scope="row" th:each="user : ${usersModels}">
								<td th:text="${user.nombre}"></td>
								<td th:text="${user.username}"></td>
								<td th:text="${user.enabled} ? 'Sí' : 'No'"></td>
								<td><a onclick="return confirm('Editar?')" th:href="@{'/users/editUser/' + ${user.id}}"><i class="far fa-edit"></i></a></td>
								<td><a onclick="return confirm('Deshabilitar?')" th:href="@{'/users/disable/' + ${user.id}}"><i class="fas fa-times"></i></a></td>
								<td><a onclick="return confirm('Eliminar?')" th:href="@{'/users/delete/' + ${user.id}}"><i class="far fa-trash-alt"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div th:if="${usersModels.isEmpty()}" class="text-center mt-3">
					<h5 class="text-muted">There is no users registered at this moment</h5>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<div th:if="${edited == 1}" class="alert alert-info">Se editó el usuario con éxito</div>
				<div th:if="${deleted == 1}" class="alert alert-info" th:text="'Usuario ' + ${username} + ' eliminado con éxito'"></div>
				<div th:if="${deleted == 0}" class="alert alert-info" th:text="'No se pudo eliminar el usuario' + ${username}"></div>
				<div th:if="${disabled == 1}" class="alert alert-info" th:text="'Se deshabilitó el usuario ' + ${username} + ' con éxito'"></div>
				<div th:if="${disabled == 0}" class="alert alert-info" th:text="'No se pudo deshabilitar el usuario ' + ${username}"></div>
				<div th:if="${insert == 1}" class="alert alert-info">Se agregó con éxito el usuario</div>
			</div>
		</div>
	</div>
	
	
	<div th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'"></div>
		
</body>
</html>