<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: headerfiles">
<meta charset="UTF-8">
<title id="pageTitle">Sales Page</title>
</head>
<body>
	<div th:replace="fragments/navbar :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'div-navbar-admin' : 'div-navbar'"></div>
	
	<div style="min-height: 85.9vh;" class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-5 mb-3 text-center">
				<h2>Listado de juegos vendidos</h2>
			</div>
		</div>
		<!-- <div class="row" th:if="${!ventasModels.isEmpty()}">
			<div class="col-md-8 offset-md-2 mt-2 mb-2 text-center">
				<a th:href="@{'/ventas/addVenta'}"><i class="fas fa-plus"></i> Añadir venta</a>
			</div>
		</div> -->
		<div th:if="${!ventasModels.isEmpty()}" class="row">
			<div class="col-md-8 offset-md-2">
				<div class="mt-3">
					<table class="table table-dark">
						<thead>
							<tr scope="row">
								<th scope="col">Usuario</th>
								<th scope="col">Juego</th>
								<th scope="col">Fecha</th>
								<!-- <th scope="col"></th>
								<th scope="col"></th> -->			
							</tr>
						</thead>
						<tbody>
							<tr scope="row" th:each="venta : ${ventasModels}">
								<td th:text="${venta.user.getUsername()}"></td>
								<td th:text="${competicion.juego.getTitulo()}"></td>
								<td th:text="${competicion.fecha}"></td>
								<!-- <td><a th:href="@{'/ventas/editVenta/' + ${venta.id}}"><i class="far fa-edit"></i></a></td>
								<td><a onclick="return confirm('Estás seguro?')" th:href="@{'/ventas/delete/' + ${venta.id}}"><i class="far fa-trash-alt"></i></a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div th:if="${ventasModels.isEmpty()}" class="text-center mt-3 flex-container-competicionesIndex">
					<h5 class="text-muted">Currently, there is no records in our system from any registered sale.</h5>
				</div>
			</div>
		</div>
		
		<!-- <div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<div th:if="${edited == 1}" class="alert alert-info text-center">Se realizó la edición con éxito</div>
				<div th:if="${deleted == 1}" class="alert alert-info text-center">Se eliminó el registro con éxito</div>
				<div th:if="${deleted == 0}" class="alert alert-info text-center">No se pudo eliminar el registro</div>
				<div th:if="${insert == 1}" class="alert alert-info text-center">Se agregó con éxito el registro</div>
			</div>
		</div> -->
	</div>
	
	<div th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'"></div>
</body>
</html>